@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "-＿-！！";
}

<div align="center">
    <br />
    <br />
    <p style="font-size: 16pt; font-weight: bold;">
        很抱歉，遇到了内部异常。
    </p>
    <p style="font-size: 14pt;">
        我们的服务团队已经注意到这个错误了，并且以最快的速度进行处理。<br />
        <br />
        我们对此深表歉意。<br />
        <br />
        请尝试点击您的浏览器的“返回”按钮，或者尝试重新加载主页。
        <br />
        <br />
        如果您任然收到这条消息，请稍等片刻再重试。
        <br />
        <br />
        感谢您的耐心等候
    </p>

</div>



