@using QASystem.Core.Domain;
@{
    foreach (Subject sub in ViewBag.Cates)
    {
        <li>@Html.ActionLink(linkText: sub.Name, actionName: "ListBySubject", controllerName: "Question", routeValues: new { sub.Id }, htmlAttributes: null)</li>
    }
}