
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ContactList</title>
    <script src="~/Scripts/knockout-3.4.0.js"></script>
    <script src="~/Scripts/jquery-2.2.1.min.js"></script>
    <script>
        var viewModel_Contact = {
            Contacts: ko.observableArray([{
                id: 1,
                name: "alis",
                tel: "-123123"
            }, {
                id: 2,
                name: "bob",
                tel: "-789654"
            }])
        };
        $(document).ready(function () {
            ko.applyBindings(viewModel_Contact);
        })
    </script>
</head>
<body>
    <div>
        <table>
            <thead>
                <tr>
                    <td>编号</td>
                    <td>姓名</td>
                    <td>号码</td>
                </tr>
            </thead>
            <tbody data-bind="foreach:Contacts">
                <tr>
                    <td data-bind="text:id"></td>
                    <td data-bind="text:name"></td>
                    <td data-bind="text:tel"></td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>
